:root{
    --primary-color: #00314B;
    --bg-color: #F2EDE8;
    --text-color-dark: #000000;
    --text-color-light: #fff;
    --gutter: 60px;
    --negative-gutter: -60px;
}

body{
    
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--main-font);
    font-size: var(--text-size);
    overflow-x: hidden;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "kern" 1;
    -ms-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-feature-settings: "liga" on;
    font-feature-settings: "dlig" off;
    font-feature-settings: "tnum" off;
    font-feature-settings: "onum" off;
    font-feature-settings: "ss01" off;
    margin: -1px;
}
body.has-menu{
    overflow: hidden;
}
img{
    width: 100%;
}
main{
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
a.link_button{
    border-bottom: 1px solid var(--primary-color);
}

/*---Navigation---*/
nav{
    padding: var(--gutter);
    padding-bottom: 0;
    display: block;
    position: relative;
    overflow: auto;
}
/*logo*/

.site-title{
    padding: var(--gutter) 0 0 var(--gutter);
    display: inline-block;    
}
.site-title a{
    margin-right: var(--negative-gutter);
}
.site-title a.logo svg{
    fill: var(--primary-color);
    margin-right: 0.22vw;
}
.main-nav{
    background-color: var(--primary-color);
    color: var(--bg-color);
    position: fixed;
    right: 0;
    height: 100vh;
    lost-column: 6/12 2 0px;
    opacity: 0;
    z-index: 10;
    transition: transform .4s  ease, opacity .1s .1s;
    transform: translateX(100%);


}

.main-nav.is-active{
    opacity: 1;
    transform: translateX(0px);
    transition: transform .4s .2s ease, opacity .1s .1s;
}
.main-nav a{
    color: var(--bg-color)
}
.site-nav{
    padding: var(--gutter);
    right: 0;    
    position: fixed;
    z-index: 99;
    display: inline-block;
    text-align: right;
}
/* Hambis */
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 20px;
    height: 2px;
    background-color: var(--primary-color);;
    border-radius: 0px;
}
  .hamburger-inner::before {
    top: -8px;
    right: -16px;
}
  .hamburger-inner::after {
    bottom: -8px; 
    right: -8px;    
}
.hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0px;
    right: 0px;
    background-color: var(--bg-color);
}
.hamburger--vortex-r.is-active .hamburger-inner {
    right: 12px;
    background-color: var(--bg-color);
}


/*---Aspect ratio---*/
.aspect-ratio{
    position: relative;
    width: 100%; 
}
.ar-1-1{
    padding-top: 100%;
}
.ar-16-9{
    padding-top: 56.25%;
}
.ar-21-9{
    padding-top: 42.85%;
}
.aspect-ratio img{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    height: 100%;
    object-fit: cover;
}
/*---Sections----*/
section{
    padding: calc(var(--gutter)*2) var(--gutter);
    lost-utility: clearfix;
}
section div.inner:first-child{
    lost-offset: 1/12;
}
section.fullbleed>div{
    width: auto;
    margin-left: var(--negative-gutter);
    margin-right: var(--negative-gutter);
}
.bleed-right>div{
    margin-right: var(--negative-gutter);
}
section .inner *:first-child{
    margin-top: 0;
}

/*-Slider*/
section.slider{
    padding:  var(--gutter);
}

section.slider .slider-wrapper .slide{
    padding:  0 var(--gutter);
}
.slider .media{
    lost-column: 9/12;
    margin-left: var(--negative-gutter);
}
section.slider .slider-wrapper div img{
}
section.slider .slider-wrapper div h3{
    lost-column: 2/3;
}
.slider ul.slick-dots{
    top: 0px;
    bottom: unset;
    right: 0;
    text-align: left;
    margin-right: var(--gutter);
    
}
 .count{
    
}

.slick-dots li:first-child{
    margin-left: 0;
}
.slick-dots li button:before {
    font-family: unset;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    content: '';
    text-align: left;
    opacity: .25;
    background-color: var(--primary-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*titlesection*/
section.title-section {
}
section.title-section h1{
    text-indent: 5.8vw;
    margin-top: 0;
}
section.title-section h1{
        lost-offset: 1/12;
        position: relative;
}
section.title-section.col-8{
    lost-column: 8/12;
}
section.title-section-frontpage{
    padding: var(--gutter) var(--gutter) 0;
}
section.title-section-frontpage h1{
    lost-column: 3/12;
}
section.title-section h1 span{
    position: absolute;
    text-indent: 0px;
    font-size: calc(11px + 13 * ((100vw - 768px) / 1440));
    left: 0;
}

/*latest news section*/
.newslist{
    display: flex;
    flex-direction: column;
}
.newslist .news-item{
    border-top: 1px solid var(--primary-color);
    padding: calc(var(--gutter)/1) 0;
}
.newslist .news-item:last-child{
    border-bottom: 1px solid var(--primary-color);
}


/*Footer*/
footer{
    padding: var(--gutter);
    overflow: auto;
    color: var(--bg-color);
    background-color: var(--primary-color);   
}
footer a{
    color: var(--bg-color);
}
.col-1.logo{
    lost-column: 1/12 12 0;
}
footer .logo svg{
    fill: var(--bg-color);
}
footer .inner div a:first-child{
    margin-top: 1em;
    display: block;
}
.page-footer{
    font-size: 0.777775em;
    
    padding-top: var(--gutter)
}
.page-footer div{
    
}